<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://localhost:88/52dbf753760b4ed686aa56516c895548.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true />
            <key>url</key>
            <string>http://localhost:88/52dbf753760b4ed686aa56516c895548.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.ccb.ios.smsbank</string>
          <key>bundle-version</key>
          <string>1.0.0(1)</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>建行短信银行</string>
          <key>title</key>
          <string>建行短信银行</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
