<?xml version="1.0"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://localhost/849e50f0e5f3442d8b019dd9d9ca5b9c.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true />
            <key>url</key>
            <string>http://localhost/849e50f0e5f3442d8b019dd9d9ca5b9c.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.ccb.CCBPadBank</string> appPkg
          <key>bundle-version</key>
          <string>1.0.0(1)</string> appVersion
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>中国建设银行HD</string>appName
          <key>title</key>
          <string>中国建设银行HD</string>appName
        </dict>
      </dict>
    </array>
  </dict>
</plist>